<template>
  <div class="container">
    <div class="main-container clearfix">
      <div class="col-md-4 cities">
        <ul>
        <li>
          <a href="" data-city="zant" class="switch-city">Zant</a>
        </li>
        <li>
          <a href="" data-city="AP" class="switch-city">Adventurer's Plains</a>
        </li>
        <li>
          <a href="" data-city="anima" class="switch-city">Anima Lake</a>
        </li>
        </ul>
      </div>
      <div class="col-md-4">
      <a href="" class="zoom in">Zoom in</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="" class="zoom out">Zoom out</a>
        <div class="map">
          <canvas id="canvas"></canvas>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    mounted() {
      console.log('Component mounted.')
    }
  }
</script>
