html {
  font-size: 18px;
}

body,
.wrapper {
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.small {
  font-size: 0.85rem;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
}

select {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  color: #636b6f;
  font-size: 0.85rem;
  padding: 6px 12px;
  margin-bottom: 0.5rem;
}

label,
.label {
  font-size: 0.85rem;
  font-weight: 500;
  display: block;
  margin: 0 auto 5px auto;
  color: #636b6f;
}

.navbar {
  margin-bottom: 3rem;
}

.navbar-nav {
  margin: 0 auto;
}

footer {
  text-align: center;
  min-height: 50px;
  background-color: #ddd;
  font-size: 0.85em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

