select {
  border: 1px solid $light-gray;
  border-radius: 4px;
  width: 100%;
  color: $text-color;
  font-size: 0.85rem;
  padding: 6px 12px;
  margin-bottom: 0.5rem;
}

label, .label {
  font-size: 0.85rem;
  font-weight: 500;
  display: block;
  margin: 0 auto 5px auto;
  color: $text-color;
}